body {
  font-family: 'Raleway', sans-serif;
}

.home-description {
  min-width: 500px;
}

.logo {
  width: 50px;
}

.overflow-layout {
  overflow: none;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.img-size--1 {
  width: 392px;
}

.img-size--2 {
  width: 1174px;
}

.img-size--3 {
  width: 878px;
}

@include mediaQuerySM {
  .home-description {
    min-width: 200px;
  }

  .logo {
    width: 30px;
  }

  .img-size--1 {
    width: 300px;
  }
  
  .img-size--2 {
    width: 906px;
  }
  
  .img-size--3 {
    width: 678px;
  }
}