body {
  font-family: 'Raleway', sans-serif;
}

.home-description {
  min-width: 500px;
}

.link-footer {
  border-bottom: 1px solid #cccccc;
  color: #000000;
  text-decoration: none;
}

.logo {
  width: 50px;
}

.overflow-layout {
  overflow: none;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.img-size--1 {
  width: 392px;
}

.img-size--2 {
  width: 1174px;
}

.img-size--3 {
  width: 879px;
}

.img-size--4 {
  width: 389px;
}

.img-size--5 {
  width: 886px;
}

@include mediaQuerySM {
  .home-description {
    min-width: 70%;
  }

  .logo {
    width: 30px;
  }

  .img-size--1 {
    width: 300px;
  }
  
  .img-size--2 {
    width: 902px;
  }
  
  .img-size--3 {
    width: 678px;
  }

  .img-size--4 {
    width: 297px;
  }

  .img-size--5 {
    width: 681px;
  }
}